<header>
  <div class="header-content">
      <div style="display: inline-block; vertical-align: middle; margin-right: 15px;">
        <img src="assets/imagenes/logo_empresa.png" alt="Logo" class="header-logo">
      </div>
      <div style="display: inline-block; vertical-align: middle; text-align: left;">
          <h1 class="header-title">ESTIM CENTER FJ</h1>
          <p class="header-subtitle">Expertos en Cerámicos, Porcelanatos y Acabados</p>
      </div>
  </div>
  
  <div id="carouselDecor" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselDecor" data-slide-to="0" class="active"></li>
      <li data-target="#carouselDecor" data-slide-to="1"></li>
      <li data-target="#carouselDecor" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="assets/imagenes/sala_moderna.jpg" alt="Sala Moderna" class="center-block carousel-img">
      </div>
      <div class="item">
        <img src="assets/imagenes/bano.jpg" alt="Baño" class="center-block carousel-img">
      </div>
      <div class="item">
        <img src="assets/imagenes/cocina.jpg" alt="Cocina" class="center-block carousel-img">
      </div>
    </div>
  </div>
</header>

<nav class="navbar navbar-default"> 
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuPrincipal"><span class="sr-only">Navegación</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
     <a class="navbar-brand" routerLink="/"><span class="glyphicon glyphicon-home"></span></a>
   </div>
  <div class="collapse navbar-collapse" id="menuPrincipal">
    <ul class="nav navbar-nav"> 
      <li class="active"><a routerLink="/"><b>INICIO</b></a></li>
      <li><a routerLink="/catalogo"><b><span class="glyphicon glyphicon-book"></span> Catálogo</b></a></li>
      <li><a routerLink="/pedidos"><b><span class="glyphicon glyphicon-shopping-cart"></span> Mis Cotizaciones</b></a></li>
      <li><a routerLink="/cotizar"><b><span class="glyphicon glyphicon-edit"></span> Cotizar</b></a></li>
      
      <li class="dropdown" style="float: right; border-left: 1px solid #e7e7e7;">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #FF8C00; font-weight: bold;">
              <span class="glyphicon glyphicon-user"></span> 
              <span>{{ nombreCliente || 'Cuenta' }}</span> 
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              <li *ngIf="!clienteLogueado"><a routerLink="/login">Iniciar Sesión</a></li>
              <li *ngIf="clienteLogueado"><a style="cursor: pointer;" (click)="cerrarSesion()"><span class="glyphicon glyphicon-off"></span> Cerrar Sesión</a></li>
          </ul>
      </li>

      <li style="float: right; border-left: 1px solid #e7e7e7; background-color: #fff8e1;">
          <a routerLink="/cotizar" style="cursor: pointer; color: #FF8C00; font-weight: bold;">
              <span class="glyphicon glyphicon-shopping-cart"></span> Mi Carrito 
              <span class="badge" style="background-color: #122A51; margin-left: 5px;">{{ carritoCotizacion.length }}</span>
          </a>
      </li>

      <li style="float: right; border-left: 1px solid #e7e7e7;">
          <a (click)="abrirBuscadorPred()" style="cursor: pointer; color: #122A51; font-weight: bold; background-color: #f8f9fa;">
              <span class="glyphicon glyphicon-search"></span> Búsqueda Rápida
          </a>
      </li>

    </ul>
  </div>
</nav>

<div class="container main-container" style="margin-top: 30px;"> 

    <section id="tienda-virtual">
        <div class="text-center">
            <h2 style="color: #000080; font-weight: 700; text-transform: uppercase; margin-bottom: 5px; font-size: 2.5em;">Nuestra Tienda Virtual</h2>
            <h3 style="color: #FF8C00; font-weight: bold; margin-top: 5px; font-size: 1.8em;">Baños</h3>
            <p style="color: #666; font-size: 1.1em; margin-bottom: 30px;">Descubre nuestros nuevos diseños. Haz clic en los puntos <span class="glyphicon glyphicon-plus-sign" style="color:#FF8C00"></span>.</p>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <h4 class="text-center" style="color: #FF8C00;">Estilo Moderno Tarraco</h4>
                <div class="shop-look-container">
                    <img src="assets/imagenes/enchape_de_baño1.png" class="img-responsive shop-look-img" alt="Diseño Baño 1">
                    <div class="hotspot" style="top: 30%; left: 50%;" (click)="toggleHotspot('m1-1', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m1-1" style="top: 25%; left: 35%; display: none;">
                        <h5>Cerámico Convex Marfil</h5><span class="price">S/ 25.00 x m²</span>
                    </div>
                    <div class="hotspot" style="top: 60%; left: 50%;" (click)="toggleHotspot('m1-2', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m1-2" style="top: 55%; left: 25%; display: none;">
                        <h5>Inodoro One Piece</h5><span class="price">S/ 270.00</span>
                    </div>
                    <div class="hotspot" style="top: 47%; left: 50%;" (click)="toggleHotspot('m1-3', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m1-3" style="top: 55%; left: 25%; display: none;">
                        <h5>Decorado Convex Baño</h5><span class="price">S/ 15.00</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <h4 class="text-center" style="color: #FF8C00;">Estilo Clásico Gris</h4>
                <div class="shop-look-container">
                    <img src="assets/imagenes/enchape_de_baño2.png" class="img-responsive shop-look-img" alt="Diseño Baño 2">
                    <div class="hotspot" style="top: 37%; left: 30%;" (click)="toggleHotspot('m2-1', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m2-1" style="top: 35%; left: 25%; display: none;">
                        <h5>Ceramico Hojas</h5><span class="price">S/ 25.00 x m²</span>
                    </div>
                    <div class="hotspot" style="top: 70%; left: 50%;" (click)="toggleHotspot('m2-2', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m2-2" style="top: 55%; left: 25%; display: none;">
                        <h5>Inodoro Orange</h5><span class="price">S/ 250.00</span>
                    </div>
                    <div class="hotspot" style="top: 45%; left: 70%;" (click)="toggleHotspot('m2-3', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m2-3" style="top: 55%; left: 25%; display: none;">
                        <h5>Decorado Hojas Baño</h5><span class="price">S/ 15.00</span>
                    </div>
                    <div class="hotspot" style="top: 65%; left: 18%;" (click)="toggleHotspot('m2-4', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m2-4" style="top: 55%; left: 25%; display: none;">
                        <h5>Lavatorio</h5><span class="price">S/ 105.00</span>
                    </div>
                </div>  
            </div>

            <div class="col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <h4 class="text-center" style="color: #FF8C00;">Estilo Burbujas</h4>
                <div class="shop-look-container">
                    <img src="assets/imagenes/enchape_de_baño3.png" class="img-responsive shop-look-img" alt="Diseño Baño 3">
                    <div class="hotspot" style="top: 45%; left: 60%;" (click)="toggleHotspot('m3-1', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m3-1" style="top: 45%; left: 45%; display: none;">
                        <h5>Decorado Burbuja</h5><span class="price">S/ 15.00</span>
                    </div>
                    <div class="hotspot" style="top: 25%; left: 50%;" (click)="toggleHotspot('m3-2', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m3-2" style="top: 55%; left: 25%; display: none;">
                        <h5>Ceramico Burbuja</h5><span class="price">S/ 25.00 x m²</span>
                    </div>
                    <div class="hotspot" style="top: 65%; left: 30%;" (click)="toggleHotspot('m3-3', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m3-3" style="top: 55%; left: 25%; display: none;">
                        <h5>Inodoro Tarraco</h5><span class="price">S/ 205.00</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <h4 class="text-center" style="color: #FF8C00;">Estilo Moderno Retro</h4>
                <div class="shop-look-container">
                    <img src="assets/imagenes/enchape_de_baño4.png" class="img-responsive shop-look-img" alt="Diseño Baño 4">
                    <div class="hotspot" style="top: 47%; left: 47%;" (click)="toggleHotspot('m4-1', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m4-1" style="top: 45%; left: 45%; display: none;">
                        <h5>Decorado Cuadros Plata</h5><span class="price">S/ 15.00</span>
                    </div>
                    <div class="hotspot" style="top: 65%; left: 30%;" (click)="toggleHotspot('m4-2', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m4-2" style="top: 45%; left: 45%; display: none;">
                        <h5>Inodoro Tarraco con boton</h5><span class="price">S/ 450.00</span>
                    </div>
                    <div class="hotspot" style="top: 57%; left: 47%;" (click)="toggleHotspot('m4-3', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m4-3" style="top: 45%; left: 45%; display: none;">
                        <h5>Cerámico Cuadros Plata </h5><span class="price">S/ 25.00 x m²</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <h4 class="text-center" style="color: #FF8C00;">Estilo Innovador Rectangular</h4>
                <div class="shop-look-container">
                    <img src="assets/imagenes/enchape_de_baño5.png" class="img-responsive shop-look-img" alt="Diseño Baño 5">
                    <div class="hotspot" style="top: 45%; left: 60%;" (click)="toggleHotspot('m5-1', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m5-1" style="top: 45%; left: 45%; display: none;">
                        <h5>Decorado Jovy Baño</h5><span class="price">S/ 15.00</span>
                    </div>
                    <div class="hotspot" style="top: 53%; left: 50%;" (click)="toggleHotspot('m5-2', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m5-2" style="top: 50%; left: 45%; display: none;">
                        <h5>Cerámico Jovy Oro</h5><span class="price">S/ 25.00 x m²</span>
                    </div>
                    <div class="hotspot" style="top: 62%; left: 22%;" (click)="toggleHotspot('m5-3', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m5-3" style="top: 50%; left: 45%; display: none;">
                        <h5>Inodoro Tarraco Gris</h5><span class="price">S/370.00</span>
                    </div>
                    <div class="hotspot" style="top: 60%; left: 70%;" (click)="toggleHotspot('m5-4', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m5-4" style="top: 50%; left: 45%; display: none;">
                        <h5>Lavatorio Gris</h5><span class="price">S/ 115.00</span>
                    </div> 
                </div>
            </div>

            <div class="col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <h4 class="text-center" style="color: #FF8C00;">Estilo Novedoso Lujoso</h4>
                <div class="shop-look-container">
                    <img src="assets/imagenes/enchape_de_baño6.png" class="img-responsive shop-look-img" alt="Diseño Baño 6">
                    <div class="hotspot" style="top: 30%; left: 60%;" (click)="toggleHotspot('m6-1', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m6-1" style="top: 45%; left: 45%; display: none;">
                        <h5>Cerámico Colmena</h5><span class="price">S/ 26.00 x m²</span>
                    </div>
                    <div class="hotspot" style="top: 48%; left: 60%;" (click)="toggleHotspot('m6-2', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m6-2" style="top: 45%; left: 45%; display: none;">
                        <h5>Decorado Colmena</h5><span class="price">S/ 15.00</span>
                    </div>
                </div>
            </div>
        </div>

        <hr class="divider-style" style="margin: 40px 0;">
        <h3 style="color: #000080; font-weight: bold; margin-top: 5px; font-size: 1.8em;" class="text-center">Cocina</h3>

        <div class="row">
            <div class="col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <h4 class="text-center" style="color: #000080;">Estilo Industrial</h4>
                <div class="shop-look-container">
                    <img src="assets/imagenes/enchape_de_cocina1.png" class="img-responsive shop-look-img" alt="Diseño Baño 1">
                    <div class="hotspot" style="top: 31%; left: 50%;" (click)="toggleHotspot('m7-1', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m7-1" style="top: 25%; left: 35%; display: none;">
                        <h5>Cerámico Ladrillo</h5><span class="price">S/ 25.00 x m²</span>
                    </div>
                    <div class="hotspot" style="top: 61%; left: 20%;" (click)="toggleHotspot('m7-2', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m7-2" style="top: 55%; left: 25%; display: none;">
                        <h5>Porcelanato Negro Vetado</h5><span class="price">S/ 40.00 x m²</span>
                    </div>
                    <div class="hotspot" style="top: 37%; left: 5%;" (click)="toggleHotspot('m7-3', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m7-3" style="top: 55%; left: 25%; display: none;">
                        <h5>Decorado Español Cocina</h5><span class="price">S/ 20.00</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <h4 class="text-center" style="color: #000080;">Estilo Burbujas</h4>
                <div class="shop-look-container">
                    <img src="assets/imagenes/enchape_de_cocina2.png" class="img-responsive shop-look-img" alt="Diseño Baño 2">
                    <div class="hotspot" style="top: 36%; left: 40%;" (click)="toggleHotspot('m8-1', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m8-1" style="top: 35%; left: 25%; display: none;">
                        <h5>Decorado Burbuja</h5><span class="price">S/ 15.00</span>
                    </div>
                    <div class="hotspot" style="top: 12%; left: 40%;" (click)="toggleHotspot('m8-2', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m8-2" style="top: 35%; left: 25%; display: none;">
                        <h5>Ceramico Burbuja</h5><span class="price">S/ 25.00</span>
                    </div>
                    <div class="hotspot" style="top: 58%; left: 20%;" (click)="toggleHotspot('m8-3', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m8-3" style="top: 35%; left: 25%; display: none;">
                        <h5>Porcelanato Grafito Blanco</h5><span class="price">S/ 36.00</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <h4 class="text-center" style="color: #000080;">Estilo Contemporáneo</h4>
                <div class="shop-look-container">
                    <img src="assets/imagenes/enchape_de_cocina3.png" class="img-responsive shop-look-img" alt="Diseño Baño 3">
                    <div class="hotspot" style="top: 15%; left: 60%;" (click)="toggleHotspot('m9-1', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m9-1" style="top: 15%; left: 45%; display: none;">
                        <h5>Cerámico Cuadros Plata</h5><span class="price">S/ 25 x m²</span>
                    </div>
                    <div class="hotspot" style="top: 40%; left: 70%;" (click)="toggleHotspot('m9-2', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m9-2" style="top: 15%; left: 45%; display: none;">
                        <h5>Decorado Indu Tetera</h5><span class="price">S/ 18.00</span>
                    </div>
                    <div class="hotspot" style="top: 60%; left: 44%;" (click)="toggleHotspot('m9-3', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m9-3" style="top: 60%; left: 45%; display: none;">
                        <h5>Porcelanato Genesis Negro</h5><span class="price">S/ 41.00 x m²</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <h4 class="text-center" style="color: #000080;">Estilo Dorado</h4>
                <div class="shop-look-container">
                    <img src="assets/imagenes/enchape_de_cocina4.png" class="img-responsive shop-look-img" alt="Diseño Baño 3">
                    <div class="hotspot" style="top: 20%; left: 20%;" (click)="toggleHotspot('m10-1', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m10-1" style="top: 45%; left: 45%; display: none;">
                        <h5>Cerámico Convex Marfil</h5><span class="price">S/ 24.00 x m²</span>
                    </div>
                    <div class="hotspot" style="top: 39%; left: 10%;" (click)="toggleHotspot('m10-2', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m10-2" style="top: 45%; left: 45%; display: none;">
                        <h5>Decorado Indu</h5><span class="price">S/ 20.00</span>
                    </div>
                    <div class="hotspot" style="top: 80%; left: 20%;" (click)="toggleHotspot('m10-3', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m10-3" style="top: 70%; left: 20%; display: none;">
                        <h5>Porcelanato Nacar</h5><span class="price">S/ 39.00 x m²</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <h4 class="text-center" style="color: #000080;">Estilo Grafito</h4>
                <div class="shop-look-container">
                    <img src="assets/imagenes/enchape_de_cocina5.png" class="img-responsive shop-look-img" alt="Diseño Baño 3">
                    <div class="hotspot" style="top: 70%; left: 30%;" (click)="toggleHotspot('m11-1', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m11-1" style="top: 45%; left: 45%; display: none;">
                        <h5>Porcelanato Doble Carga Gris</h5><span class="price">S/ 38.00</span>
                    </div>
                    <div class="hotspot" style="top: 11%; left: 40%;" (click)="toggleHotspot('m11-2', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m11-2" style="top: 45%; left: 45%; display: none;">
                        <h5>Cerámico Ondas Raya</h5><span class="price">S/ 24.00 x m²</span>
                    </div>
                    <div class="hotspot" style="top: 20%; left: 85%;" (click)="toggleHotspot('m11-3', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m11-3" style="top: 20%; left: 45%; display: none;">
                        <h5>Decorado Ondas Raya COcina </h5><span class="price">S/ 15.00</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <h4 class="text-center" style="color: #000080;">Acabado Maderado</h4>
                <div class="shop-look-container">
                    <img src="assets/imagenes/enchape_de_cocina6.png" class="img-responsive shop-look-img" alt="Diseño Baño 3">
                    <div class="hotspot" style="top: 50%; left: 70%;" (click)="toggleHotspot('m12-1', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m12-1" style="top: 45%; left: 45%; display: none;">
                        <h5>Porcelanato Mate Carrara</h5><span class="price">S/ 34.00</span>
                    </div>
                    <div class="hotspot" style="top: 35%; left: 10%;" (click)="toggleHotspot('m12-2', $event)"><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="hotspot-card" id="card-m12-2" style="top: 45%; left: 10%; display: none;">
                        <h5>Decorado Ladrillo Cocina</h5><span class="price">S/ 15.00</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr class="divider-style" style="margin: 40px 0;">

    <section id="catalogos">
        <h2 style="color: #000080; font-weight: 700; text-transform: uppercase; margin-bottom: 5px; font-size: 2.5em;" class="text-center">Nuestros Catálogos</h2>
        <h3 style="margin-top: 20px;">Destacados del Mes</h3>
        <article>
            <div class="panel-group" id="accordionDecor">
            
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionDecor" href="#cat1">Porcelanatos 60x60</a></h4>
                    </div>
                    <div id="cat1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>Ideal para salas y comedores. Acabado brillante de alta resistencia y fácil limpieza.</p>
                            
                            <div class="row fila-productos">
                                
                                <div *ngIf="porcelanatosList.length === 0" class="text-center" style="padding: 20px;">
                                    <p style="color: gray;"><i>Cargando nuevos diseños...</i></p>
                                </div>

                                <div class="col-md-4 col-sm-4 card-producto" *ngFor="let prod of porcelanatosList" [id]="'prod-' + prod.codigo">
                                    <div class="thumbnail" style="position: relative; padding: 15px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                                        
                                        <!-- 🔥 BOTÓN DEL OJITO 🔥 -->
                                        <button type="button" class="btn btn-default btn-xs" style="position: absolute; top: 20px; right: 20px; z-index: 10; border-radius: 50%; padding: 6px 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.3);" (click)="verEnSala(prod)" title="Ver en Ambiente">
                                            <span class="glyphicon glyphicon-eye-open" style="color: #122A51; font-size: 14px;"></span>
                                        </button>
                                        
                                        <img *ngIf="prod.imagen" [src]="getImagenUrl(prod.imagen)" class="img-responsive center-block" [alt]="prod.nombre" style="height: 200px; object-fit: contain;">
                                        <img *ngIf="!prod.imagen" src="assets/imagenes/logo.jpg" class="img-responsive center-block" alt="Sin imagen" style="height: 200px; object-fit: contain;">
                                        
                                        <div class="caption text-center">
                                            <h4 style="font-weight: bold; color: #122A51; height: 45px; overflow: hidden;">{{ prod.nombre }}</h4>
                                            
                                            <p style="color: #FF8C00; font-weight: bold; font-size: 1.2em;">
                                                S/ {{ prod.precio | number:'1.2-2' }}
                                            </p>
                                            
                                            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#calculadoraModal" (click)="prepararCalculadora(prod)">Ver Detalle</button>
                                        </div>
                                    </div>
                                </div>

                            </div> 
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionDecor" href="#cat2">Cerámicos 46x46</a></h4>
                    </div>
                    <div id="cat2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row fila-productos">
                                
                                <div *ngIf="ceramicosList.length === 0" class="text-center" style="padding: 20px;">
                                    <p style="color: gray;"><i>Cargando nuevos diseños...</i></p>
                                </div>

                                <div class="col-md-4 col-sm-4 card-producto" *ngFor="let prod of ceramicosList" [id]="'prod-' + prod.codigo">
                                    <div class="thumbnail" style="position: relative; padding: 15px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                                        
                                        <button type="button" class="btn btn-default btn-xs" style="position: absolute; top: 20px; right: 20px; z-index: 10; border-radius: 50%; padding: 6px 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.3);" (click)="verEnSala(prod)" title="Ver en Ambiente">
                                            <span class="glyphicon glyphicon-eye-open" style="color: #122A51; font-size: 14px;"></span>
                                        </button>
                                        
                                        <img *ngIf="prod.imagen" [src]="getImagenUrl(prod.imagen)" class="img-responsive center-block" [alt]="prod.nombre" style="height: 200px; object-fit: contain;">
                                        <img *ngIf="!prod.imagen" src="assets/imagenes/logo.jpg" class="img-responsive center-block" alt="Sin imagen" style="height: 200px; object-fit: contain;">
                                        
                                        <div class="caption text-center">
                                            <h4 style="font-weight: bold; color: #122A51; height: 45px; overflow: hidden;">{{ prod.nombre }}</h4>
                                            
                                            <p style="color: #FF8C00; font-weight: bold; font-size: 1.2em;">
                                                S/ {{ prod.precio | number:'1.2-2' }}
                                            </p>
                                            
                                            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#calculadoraModal" (click)="prepararCalculadora(prod)">Ver Detalle</button>
                                        </div>
                                    </div>
                                </div>

                            </div> 
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionDecor" href="#cat3">Pegamentos</a></h4>
                    </div>
                    <div id="cat3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row fila-productos">
                                
                                <div *ngIf="pegamentosList.length === 0" class="text-center" style="padding: 20px;">
                                    <p style="color: gray;"><i>Cargando nuevos diseños...</i></p>
                                </div>

                                <div class="col-md-4 col-sm-4 card-producto" *ngFor="let prod of pegamentosList; let i = index" [id]="'prod-' + prod.codigo">
                                    <div class="thumbnail" style="position: relative; padding: 15px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                                        
                                        <button type="button" class="btn btn-default btn-xs" style="position: absolute; top: 20px; right: 20px; z-index: 10; border-radius: 50%; padding: 6px 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.3);" (click)="verEnSala(prod)" title="Ver en Ambiente">
                                            <span class="glyphicon glyphicon-eye-open" style="color: #122A51; font-size: 14px;"></span>
                                        </button>
                                        
                                        <img *ngIf="prod.imagen" [src]="getImagenUrl(prod.imagen)" class="img-responsive center-block" [alt]="prod.nombre" style="height: 220px; object-fit: contain;">
                                        <img *ngIf="!prod.imagen" src="assets/imagenes/logo.jpg" class="img-responsive center-block" alt="Sin imagen" style="height: 220px; object-fit: contain;">
                                        
                                        <div class="caption text-center">
                                            <h4 style="font-weight: bold; color: #555; height: 30px; overflow: hidden;">{{ prod.nombre }}</h4>
                                            <p><span class="label" [ngClass]="{'label-default': i===0, 'label-primary': i===1, 'label-danger': i===2}">{{ i === 0 ? 'Para Porcelanatos' : i === 1 ? 'Para Interiores' : 'Exteriores / Piscinas' }}</span></p>
                                            
                                            <h3 style="color: #122A51; font-weight: bold;">S/ {{ prod.precio | number:'1.2-2' }}</h3>
                                            
                                            <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#calculadoraModal" (click)="prepararCalculadora(prod)" style="font-weight: bold;">
                                                <span class="glyphicon glyphicon-shopping-cart"></span> Calcular Sacos
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div> 
                        </div>
                    </div>
                </div>

            </div>
        </article>
    </section>

    <hr class="divider-style" style="margin: 40px;">

    <section id="ofertas-relampago" style="margin-bottom: 40px;">
        <h4 class="text-center" style="color: #FF8C00; font-weight: 700; text-transform: uppercase; margin-bottom: 5px; font-size: 2.5em;">Ofertas Relámpago</h4>
        <div class="row">
             <div class="col-md-4 col-sm-4">
                 <img src="assets/imagenes/oferta1.png" class="img-responsive center-block" alt="Oferta 1" style="width: 100%; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
             </div>
             <div class="col-md-4 col-sm-4">
                 <img src="assets/imagenes/oferta2.png" class="img-responsive center-block" alt="Oferta 2" style="width: 100%; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
             </div>
             <div class="col-md-4 col-sm-4">
                 <img src="assets/imagenes/oferta3.png" class="img-responsive center-block" alt="Oferta 2" style="width: 100%; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
             </div>
        </div>
    </section>

    <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
                <div class="well text-center" style="border: 2px solid #FF8C00; background-color: #fff; padding: 20px; margin-bottom: 0;">
                    <h4 style="color: #FF8C00; margin-top: 0; font-weight: bold; text-transform: uppercase;">
                        <span class="glyphicon glyphicon-time"></span> Horario
                    </h4>
                    <p style="color: #333; font-size: 1.4em; margin: 5px 0 0 0;">
                        Lunes a Sábado<br>
                        <strong>8:30 am - 8:00 pm</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>¿Por qué elegir ESTIM CENTER FJ?</h2>
            <article class="info-box">
              <p>Somos especialistas en acabados para la construcción. Ofrecemos asesoría personalizada para que encuentres el piso ideal para tu hogar. Contamos con las mejores marcas del mercado y servicio de entrega a domicilio.</p>
            </article>
        </div>
    </div>
</div>

<!-- 🔥 MODAL DE BÚSQUEDA PREDICTIVA 🔥 -->
<div class="modal fade" id="modalBienvenidaBuscador" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document" style="margin-top: 10vh;">
    <div class="modal-content" style="border-radius: 12px; border: none; box-shadow: 0 15px 30px rgba(0,0,0,0.2);">
      <div class="modal-header" style="background-color: #122A51; color: white; border-radius: 12px 12px 0 0; border-bottom: 3px solid #FF8C00;">
        <button type="button" class="close" data-dismiss="modal" style="color: white; opacity: 1; text-shadow: none;">&times;</button>
        <h4 class="modal-title" style="font-weight: bold; font-size: 1.5em; text-align: center;">
            <span class="glyphicon glyphicon-search"></span> ¿Qué estás buscando hoy?
        </h4>
      </div>
      <div class="modal-body" style="background-color: #f9f9f9; padding: 25px;">
          
          <div class="form-group" style="position: relative; margin-bottom: 20px;">
              <input type="text" [(ngModel)]="terminoBusqueda" (keyup)="buscarProductoPred()" name="busquedaPredictiva" class="form-control input-lg" placeholder="Ej: Porcelanato, Pegamento, Gris..." style="border-radius: 25px; padding-left: 20px; border: 2px solid #FF8C00; box-shadow: none;">
              <span class="glyphicon glyphicon-search" style="position: absolute; right: 20px; top: 15px; font-size: 18px; color: #888;"></span>
          </div>
          
          <div class="list-group" style="margin-bottom: 0; box-shadow: 0 4px 8px rgba(0,0,0,0.05);">
              
              <a *ngFor="let p of productosBuscados" class="list-group-item" (click)="seleccionarBusquedaPred(p)" style="cursor: pointer; border-left: 4px solid #FF8C00; transition: background 0.2s;">
                  <div style="display: flex; align-items: center;">
                      <img [src]="getImagenUrl(p.imagen)" style="width: 50px; height: 50px; object-fit: cover; border-radius: 6px; margin-right: 15px; border: 1px solid #eee;">
                      <div style="flex-grow: 1;">
                          <h5 style="margin: 0 0 5px 0; font-weight: bold; color: #122A51;">{{ p.nombre }}</h5>
                          <p style="margin: 0; font-size: 0.85em; color: #666; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">{{ p.descripcion }}</p>
                      </div>
                      <div style="text-align: right;">
                          <strong style="color: #FF8C00; font-size: 1.1em;">S/ {{ p.precio | number:'1.2-2' }}</strong>
                          <br>
                          <small style="color: #999;" *ngIf="!p.codigo.includes('PEG')">Caja: {{ p.rendimientoCaja }} m²</small>
                          <small style="color: #999;" *ngIf="p.codigo.includes('PEG')">Saco: 25 kg</small>
                      </div>
                  </div>
              </a>
              
              <div *ngIf="terminoBusqueda && productosBuscados.length === 0" class="text-center" style="padding: 20px; background: white; border: 1px solid #ddd; border-radius: 8px;">
                  <span class="glyphicon glyphicon-info-sign" style="font-size: 24px; color: #ccc; display: block; margin-bottom: 10px;"></span>
                  No encontramos productos con "<b>{{ terminoBusqueda }}</b>".
              </div>
          </div>

      </div>   
      <div class="modal-footer" style="text-align: center; border-top: none; background-color: #f9f9f9; padding-bottom: 20px;">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="border-radius: 20px; padding: 8px 30px; font-weight: bold; color: #122A51;">Explorar Catálogo Manualmente</button>
      </div>
    </div>
  </div>
</div>

<!-- 🔥 CALCULADORA INTELIGENTE 🔥 -->
<div class="modal fade" id="calculadoraModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="prodSeleccionado">
      <div class="modal-header" style="background-color: #000080; color: white;">
        <button type="button" class="close" data-dismiss="modal"><span style="color: white;">&times;</span></button>
        <h4 class="modal-title">Calculadora: {{ prodSeleccionado.nombre }}</h4>
      </div>
      <div class="modal-body">
          <form>
              <div class="form-group">
                  <label style="font-size: 1.2em;">{{ lblPregunta }}</label>
                  <div class="input-group">
                      <input type="number" [(ngModel)]="metrosSolicitados" name="metros" class="form-control input-lg" placeholder="Ej: 15">
                      <span class="input-group-addon" *ngIf="mostrarPiezas">m²</span>
                      <span class="input-group-addon" *ngIf="!mostrarPiezas && !prodSeleccionado.codigo?.includes('PEG')">Und</span>
                  </div>
              </div>
              <hr>
              <div class="row">
                  <div class="col-md-6 col-xs-6">
                      <label>Precio Unitario:</label>
                      <input type="text" class="form-control" [value]="'S/ ' + prodSeleccionado.precio" readonly>
                  </div>
                  <div class="col-md-6 col-xs-6">
                      <label>{{ lblRendimiento }}</label>
                      <input type="text" class="form-control" [value]="prodSeleccionado.rendimientoCaja" readonly>
                  </div>
              </div>
              <br>
              <div class="well" style="background-color: #f9f9f9; border: 1px solid #ddd;">
                  <div class="row">
                      <div class="col-md-6 col-xs-6">
                          <label style="color:#FF8C00">COSTO TOTAL ESTIMADO:</label>
                          <input type="text" class="form-control" [value]="costoTotal" readonly style="font-weight:bold; color:#FF8C00">
                      </div>
                      <div class="col-md-6 col-xs-6">
                          <label style="color:#122A51">{{ lblResultadoEmpaque }}</label>
                          <input type="text" class="form-control" [value]="cajasLlevar" readonly style="font-weight:bold; color:#122A51">
                      </div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col-md-12 text-center">
                          <label style="color: #333;">DETALLE ADICIONAL:</label>
                          <input type="text" class="form-control text-center" [value]="metrosReales" readonly style="font-weight: bold; color: #333; background-color: #e6e6e6;">
                      </div>
                  </div>
              </div>
          </form>
      </div>   
      
      <div class="modal-footer" style="text-align: center; border-top: 1px solid #eee; padding: 15px;">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="border-radius: 20px; padding: 8px 25px; margin-right: 10px;">Cerrar</button>
        <button type="button" class="btn" style="background-color: #000080; color: white; padding: 8px 25px; border-radius: 20px; font-weight: bold;" (click)="calcularTotal()">¡Calcular Ahora!</button>
        <button type="button" class="btn btn-success" *ngIf="costoTotal" (click)="agregarAlCarrito()" style="border-radius: 20px; padding: 8px 25px; font-weight: bold; margin-left: 10px;">
            <span class="glyphicon glyphicon-shopping-cart"></span> Agregar al Carrito
        </button>
      </div>
      
    </div>
  </div>
</div>

<!-- 🔥 MODAL VISTA EN AMBIENTE MEJORADO 🔥 -->
<div class="modal fade" id="modalSala" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" *ngIf="prodVistaSala">
            
            <div class="modal-header" style="background-color: #122A51; color: white; border-bottom: 3px solid #FF8C00;">
                <button type="button" class="close" data-dismiss="modal" style="color: white; opacity: 1;">&times;</button>
                <h4 class="modal-title" style="font-weight: bold;">
                    <span class="glyphicon glyphicon-picture"></span> {{ prodVistaSala.nombre }}
                </h4>
            </div>
            
            <div class="modal-body text-center" style="padding: 0; position: relative; background-color: #f4f4f4;">
                
                <!-- Flechas Mágicas de Navegación -->
                <button class="btn btn-default" (click)="cambiarVistaImagen()" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); z-index: 10; border-radius: 50%; width: 45px; height: 45px; box-shadow: 0 4px 8px rgba(0,0,0,0.3); border: none; background: rgba(255,255,255,0.8);">
                    <span class="glyphicon glyphicon-chevron-left" style="color: #122A51; font-weight: bold; font-size: 18px;"></span>
                </button>
                
                <button class="btn btn-default" (click)="cambiarVistaImagen()" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); z-index: 10; border-radius: 50%; width: 45px; height: 45px; box-shadow: 0 4px 8px rgba(0,0,0,0.3); border: none; background: rgba(255,255,255,0.8);">
                    <span class="glyphicon glyphicon-chevron-right" style="color: #122A51; font-weight: bold; font-size: 18px;"></span>
                </button>

                <!-- Imagen Dinámica -->
                <img [src]="mostrandoSala ? imagenSala : getImagenUrl(prodVistaSala.imagen)" class="img-responsive center-block" style="max-height: 60vh; object-fit: contain; width: 100%; padding: 20px;">
                
                <span class="label" [ngClass]="mostrandoSala ? 'label-warning' : 'label-primary'" style="position: absolute; top: 15px; left: 15px; font-size: 14px; box-shadow: 0 2px 4px rgba(0,0,0,0.2);">
                    <span class="glyphicon" [ngClass]="mostrandoSala ? 'glyphicon-home' : 'glyphicon-stop'"></span> 
                    {{ mostrandoSala ? 'Vista en Ambiente' : 'Vista de la Pieza' }}
                </span>
            </div>
            
            <!-- Detalles del Producto -->
            <div class="modal-footer" style="text-align: left; background: white;">
                <div class="row">
                    <div class="col-xs-8">
                        <h4 style="margin: 0; font-weight: bold; color: #122A51;">{{ prodVistaSala.nombre }}</h4>
                        <p style="margin: 5px 0 0 0; color: #666; font-size: 13px;">{{ prodVistaSala.descripcion || 'Detalles exclusivos de nuestro catálogo premium.' }}</p>
                    </div>
                    <div class="col-xs-4 text-right">
                        <h3 style="margin: 0; color: #FF8C00; font-weight: bold;">S/ {{ prodVistaSala.precio | number:'1.2-2' }}</h3>
                        <button type="button" class="btn btn-success btn-sm" style="margin-top: 5px; font-weight: bold; border-radius: 20px;" (click)="prepararCalculadora(prodVistaSala)" data-dismiss="modal" data-toggle="modal" data-target="#calculadoraModal">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Cotizar
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<footer style="width: 100vw; position: relative; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw; margin-top: 40px;">
  <div class="container-fluid footer-content">
    <div class="col-md-4">
      <h4>Contacto</h4>
      <p>
        <span class="glyphicon glyphicon-map-marker"></span> Visitanos en Av. Alfonso Ugarte 1244 - 1135<br>
        <span class="glyphicon glyphicon-earphone"></span> (+51) 978-875-748<br>
        <span class="glyphicon glyphicon-envelope"></span> estimcenterfj1005@gmail.com
      </p>
    </div>
    <div class="col-md-4 text-center">
      <p>&copy; 2026 ESTIM CENTER FJ <br> Todos los derechos reservados.</p>
    </div>
    <div class="col-md-4 text-right">
      <p>Síguenos en Redes:</p>
      <span class="glyphicon glyphicon-thumbs-up"></span> Facebook <br>
      <span class="glyphicon glyphicon-camera" style="margin-top: 5px;"></span> Instagram <br>
      <span class="glyphicon glyphicon-music" style="margin-top: 5px;"></span> TikTok
    </div>
  </div>
</footer>

<div id="chat-circle" class="btn btn-raised" (click)="toggleChat()">
    <div id="chat-overlay"></div>
    <span class="glyphicon glyphicon-comment" style="font-size: 24px; color: white; margin-top: 12px;"></span>
</div>

<div class="chat-box" [class.chat-abierto]="chatVisible">
    <div class="chat-box-header">
        <div class="chat-avatar">
            <img src="assets/imagenes/logo_empresa.png" alt="Admin" style="background:white; padding:2px;">
        </div>
        <div class="chat-info">
            <span class="chat-title">Soporte ESTIM CENTER FJ</span>
            <span class="chat-status"><span class="status-dot"></span> En línea</span>
        </div>
        <span class="chat-box-toggle" (click)="toggleChat()"><span class="glyphicon glyphicon-remove"></span></span>
    </div>
    
    <div class="chat-box-body" id="chat-box-body">
        <div class="chat-logs">
            <div class="chat-msg user">
                <div class="cm-msg-text">
                    ¡Hola! 👋 Bienvenido a ESTIM CENTER FJ<br>
                    Soy tu asistente virtual. ¿En qué puedo ayudarte hoy?
                </div>
            </div>
            <div class="chat-msg user">
                <div class="cm-msg-button-container">
                    <button class="btn-quick-reply" (click)="enviarWhatsApp('Quiero cotizar porcelanatos')">Cotizar Porcelanatos</button>
                    <button class="btn-quick-reply" (click)="enviarWhatsApp('¿Dónde están ubicados?')">Ubicación de tienda</button>
                    <button class="btn-quick-reply" (click)="enviarWhatsApp('Quiero hablar con un asesor')">Hablar con un humano</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="chat-input">
        <form (submit)="enviarMensajeEscrito($event)">
            <input type="text" id="chat-input" placeholder="Escribe tu consulta aquí..." />
            <button type="submit" class="chat-submit" id="chat-submit">
                <span class="glyphicon glyphicon-send"></span>
            </button>
        </form>
    </div>
</div>